<footer id="contact">
  <div class="contact__container">
    <h1 class="contact__title">Let's talk</h1>
    <h2 class="contact__email">wookshins@gmail.com</h2>
    <div class="contact__links">
      <a href="https://github.com/wookshin" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/신욱-채-333b1a22b"
        target="_blank"
      >
        <i class="fa fa-linkedin-square"></i>
      </a>
    </div>
    <p class="contact__rights">2022 Wookshin - All rights reserved</p>
  </div>
</footer>