<header>
  <div class="logo">욱신 블로그</div>
  <!-- <div class="profile">profile</div> -->
  <div class="main-features">
    <div class="main-tags">
      <div class="fab-class">
        <i class="fab fa-html5" data-tag="html"></i>
        <i class="fab fa-css3-alt" data-tag="css"></i>
        <i class="fab fa-js" data-tag="javascript"></i>
        <i class="fab fa-react" data-tag="react"></i>
      </div>
        <i class="fas fa-tools" data-tag="tool"></i>
        <i class="bi bi-archive" data-tag="etc"></i>
    </div>
    <div class="main-theme">
      <i class="bi bi-sun-fill"></i>
      <i class="bi bi-moon"></i>
    </div>
    <div class="main-display">
      <i class="bi bi-card-list"></i>
      <i class="bi bi-box"></i>
    </div>
  </div>
</header>
