<header class="top-navigation">
  <div class="top-container">
    <div class="top-navigation-wrap">
      <div class="logo">욱신 블로그</div>
    </div>
    <div class="top-navigation-main">
      <div class="main-nav">
        <ul class="main-menu">
          <li class="top-level-entry-container">
            <a class="top-level-entry">태그</a>
            <ul class="submenu tag">
              <li class="submenu-item">
                <a href="/pages/html">HTML</a>
              </li>
              <li class="submenu-item">
                <a href="/pages/css">CSS</a>
              </li>
              <li class="submenu-item">
                <a href="/pages/javascript">JAVSCRIPT</a>
              </li>
              <li class="submenu-item">
                <a href="/pages/tool">TOOL</a>
              </li>
              <li class="submenu-item">
                <a href="/pages/etc">ETC</a>
              </li>
            </ul>
          </li>
          <li class="top-level-entry-container">
            <a class="top-level-entry">즐겨찾기</a>
          </li>
        </ul>
      </div>
      <div class="main-theme">
          <i class="fas fa-sun toggle"></i>
          <i class="far fa-moon toggle"></i>
      </div>
    </div>
  </div>
</header>
