<header class="top-navigation">
  <div class="top-container">
    <div class="top-navigation-wrap">
      <div class="logo">욱신 블로그</div>
    </div>
    <div class="top-navigation-main">
      <div class="main-nav">
        <ul class="main-menu">
          <li class=""top-level-entry-container>태그</li>
          <li class=""top-level-entry-container>즐겨찾기</li>
        </ul>
      </div>
      <div class="main-theme">
          <i class="fas fa-sun toggle"></i>
          <i class="far fa-moon toggle"></i>
      </div>
    </div>
  </div>
</header>
