/* color */
$border-color-primary: #dbdfe4;
$background-color-primary: #397576;
$font-color-primary: white;
$font-color-secondary: #e9e9e9;

/* size */
$max-width: 1000px;

#flick {
  max-width: $max-width;
  width: 80%;
  margin: 20px auto;
  border: 2px solid $border-color-primary;
  padding: 1rem;
  border-radius: 5px;

  a {
    font-weight: lighter;
  }
  
  .flicking-panel {
    cursor: pointer;
    color: $background-color-primary;
    margin: 20px;
    background-color: $background-color-primary;
    padding: 3rem 2rem 1rem 2rem;
    font-family: "Hanna";
    font-size: 2.5rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
    }
  
    .title {
      text-decoration: none;
      color: $font-color-primary;
      font-size: 2.3rem;
      letter-spacing: -1px;
    }
  
    .subtitle {
      color: $font-color-secondary;
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}

.dark {
  /* color */
  $border-color-primary: #6C6F73;
  $background-color-primary: #1f5e60;
  $font-color-primary: white;
  $font-color-secondary: #CFCFD8;
  
  #flick {
    border-color: $border-color-primary;

    .flicking-panel {
      background-color: $background-color-primary;

      .title {
        color: $font-color-primary;
      }

      .subtitle {
        color: $font-color-secondary;
      }
    }
  }
}
