$font-size-primary: 4rem;
$font-size-secondary: 2.5rem;
$font-size-third: 2rem;
$font-size-fourth: 1.5rem;
$font-size-fifth: 1rem;

$base-color: #56d1d5;
$background-primary: #23222b;
$text-color-secondary: #cfcfd8;
$border-primary: #52525e;

#contact {
  background-color: $background-primary;
  padding: 100px 50px;
  text-align: center;
}

.contact__title {
  margin: 32px 0;
  font-size: $font-size-primary;
  color: $text-color-secondary;  
  font-weight: lighter;
}

.contact__email {
  font-size: $font-size-secondary;
  color: $text-color-secondary;
  font-weight: lighter;
}

.contact__rights {
  font-size: $font-size-fourth;
  color: $text-color-secondary;
  font-weight: lighter;
}

.contact__links {
  font-size: $font-size-primary;
  margin: 24px 0;
}

.contact__links i {
  transition: all 300ms ease;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: $base-color;
}