/* color */
$base-color: black;
$base-sub-color: gray;
$base-background-color: #f8f9fa;
$base-hover-color: cadetblue;

/* size */
$max-width: 1012px;
$base-margin-size: 1rem;
$base-padding-size: 1rem;
$base-font-size: 1rem;
$base-border-radius: 1rem;

#flick {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
}

.flicking-panel {
  color: $base-color;
  margin: $base-margin-size calc(#{$base-margin-size} * 2)
    calc(#{$base-margin-size} * 5) $base-margin-size;
  background-color: $base-background-color;
  padding: calc(#{$base-padding-size} * 3) calc(#{$base-padding-size} * 2)
    $base-padding-size calc(#{$base-padding-size} * 2);
  font-family: "Hanna";
  font-size: calc(#{$base-font-size} * 2.5);
  border-radius: $base-border-radius;
  box-shadow: 0px 0px 10px 1px $base-sub-color;

  .title {
    text-decoration: none;
    color: $base-color;
    font-size: calc(#{$base-font-size} * 2.3);
    letter-spacing: -1px;
  }

  .subtitle {
    color: $base-sub-color;
    font-size: calc(#{$base-font-size} * 1.2);
    margin-top: $base-margin-size;
    margin-bottom: calc(#{$base-margin-size} * 2);
  }
}

.flicking-panel:hover {
  outline: 3px $base-hover-color solid;
  cursor: pointer;
  border-radius: $base-border-radius;
}
