header {
  display: flex;
  font-family: "Hanna", sans-serif;
  font-size: calc(3rem + 1vw);
  max-width: 1012px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1.6rem;

  .logo {
    letter-spacing: -5px;
    width: 40%;
  }

  .logo:hover,
  .fab:hover,
  .fas:hover,
  .far:hover,
  .selected {
    color: cadetblue;
    cursor: pointer;
  }

  .main-features {
    width: 100%;
    padding-left: 1.6rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    font-size: 3rem;
    align-items: center;

    .main-tags {
      display: flex;
      align-items: center;
    }

    i {
      margin-left: 1.4rem;
    }

    .fab {
      font-size: 3.5rem;
    }

    .fas {
      vertical-align: middle;
    }

    .fa-moon,
    .fa-th-large {
      display: none;
    }
  }

  @media screen and (max-width: 534px) {
    .logo {
      display: none;
    }
  }
}
