header {
  display: flex;
  font-family: 'Hanna', sans-serif;
  font-size: calc(3rem + 1vw);
  margin: 3rem 0;
  max-width: 1012px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1.6rem;

  .logo {
    letter-spacing: -5px;
  }

  .logo:hover {
    color : cadetblue;
    cursor: pointer;
  }

  .profile {
    margin-left: auto;
  }
}

@media screen and (min-width: 1000px)  {
  header { 
    width: 90%;
  }
}