header {
  display: flex;
  font-family: "Hanna", sans-serif;
  font-size: calc(3rem + 1vw);
  max-width: 1012px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1.6rem;

  .logo {
    letter-spacing: -5px;
    width: 40%;
  }

  .logo:hover,
  .fab:hover,
  .fas:hover,
  .bi:hover {
    color: cadetblue;
    cursor: pointer;
  }

  .main-features {
    width: 100%;
    padding-left: 1.6rem;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    .fab-class {
      display: inline-block;
      margin-top: 2px;
    }

    .fab {
      font-size: 3.5rem;
      margin-right: 0.5rem;
    }

    .fas {
      font-size: 2.9rem;
      margin-right: 0.5rem;
      margin-bottom: 3px;
      vertical-align: middle;
    }

    .bi-moon,
    .bi-sun-fill,
    .bi-archive {
      margin-right: 1.5rem;
    }

    .bi {
      font-size: 3rem;
    }

    .bi-moon,
    .bi-box {
      display: none;
    }
  }
}
