@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Hanna', sans-serif;
}

@media screen and (min-width: 1000px)  {
  html { 
    font-size: 15px;
  }
}