.hidden {
  display: none !important;
}

.md-container {
  max-width: 1012px;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
  word-wrap: break-word;
  padding: 0 1.6rem;
}

@media screen and (min-width: 1000px) {
  header,
  .md-container {
    width: 90%;
  }
}

h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: 4rem;
  border-bottom: 3px solid cadetblue;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 3rem;
  border-bottom: 2px solid cadetblue;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
  line-height: 1.25;
}

p {
  margin-top: 0;
  margin-bottom: 1.6rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

pre {
  overflow: auto;
  tab-size: 2;
  -moz-tab-size: 2;
  margin: 4px 0px;
}

b,
strong {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.arrow {
  display: inline-block;
  position: fixed;
  -webkit-backface-visibility: hidden;
  top: 88%;
  left: 88%;
}

.up:hover,
.down:hover {
  border-color: grey;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid cadetblue;
  border-width: 0 8px 8px 0;
  padding: 8px;
}

.upup {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border: solid cadetblue;
  border-width: 0 8px 8px 0;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid cadetblue;
  border-width: 0 8px 8px 0;
  padding: 8px;
}

.downdown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid cadetblue;
  border-width: 0 8px 8px 0;
  padding: 8px;
}

.highlight {
  padding-left: 0.5rem;
  font-family: "Roboto Mono";
}

blockquote {
  padding: 0 1em;
  color: #768390;
  border-left: 0.25em solid cadetblue;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #444c56;
}

table th {
  font-weight: 600;
  background-color: rgb(173, 173, 173);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: lightgray;
}

code {
  font-family: "Roboto Mono";
}

.dark {
  background-color: #121212 !important;
  color: #e0e0e0;

  .md-container {
    color: #e0e0e0;
    background-color: #121212 !important;
  }

  table th {
    font-weight: 600;
    background-color: darkslategrey;
  }

  tr:nth-child(even) {
    background-color: gray;
  }

  .flicking-panel {
    background-color: #121212 !important;

    .title {
      color: #e0e0e0;
    }
  }
}
