body {
  font-size: 10px;
  font-family: "Hanna", sans-serif;

  .hidden {
    display: none !important;
  }
}

/* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  cursor: pointer;
  font-size: 2.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list {
  .posts {
    max-width: 1012px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
  }

  .post {
    border-bottom: gray 1px dotted;
    padding: 4rem 0;

    .title {
      text-decoration: none;
      color: black;
      font-size: 3rem;
      letter-spacing: -1px;
    }

    .subtitle {
      color: gray;
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .date,
    .readtime {
      color: gray;
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  .post:hover {
    cursor: pointer;
    .title {
      color: cadetblue;
    }
  }
}

.box {
  .posts {
    max-width: 1012px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    width: 30rem;
    padding: 2rem;
    margin: 2rem 1rem 2rem 1rem;
    background: rgb(248, 249, 250);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px grey;

    .title {
      text-decoration: none;
      color: black;
      font-size: 2.3rem;
      letter-spacing: -1px;
    }

    .subtitle {
      color: gray;
      font-size: 1.2rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
      flex: 1 1 0%;
    }

    .date,
    .readtime {
      color: gray;
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }
  }

  .post:hover {
    outline: 3px cadetblue solid;
    border-radius: 10px;
    cursor: pointer;
    .title {
      color: cadetblue;
    }
  }

  @media screen and (min-width: 1028px) {
    .post:nth-child(3n) {
      // margin-right: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1027px) {
    .post {
      width: calc(50% - 2rem);
      // margin-right: 4rem;
    }

    .post:nth-child(2n) {
      // margin-right: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .post {
      width: 100%;
      // margin-right: 0;
    }
  }
}

.dark {
  background-color: #121212 !important;
  color: #e0e0e0;

  .list {
    .post {
      .title {
        color: #e0e0e0;
      }
    }

    .post:hover {
      .title {
        color: cadetblue;
      }
    }
  }

  .box {
    .post {
      background-color: #121212 !important;

      .title {
        color: #e0e0e0;
      }
    }

    .post:hover {
      outline: 3px cadetblue solid;
      .title {
        color: cadetblue;
      }
    }
  }
}
