/* color */
$base-color: cadetblue;
$base-font-color: #24292e;
$base-background-color: #fff;
$hover-color: grey;
$block-quote-color: #768390;
$table-base-color: #444c56;
$table-th-color: #9ac7c9;
$table-dark-th-color: #083032;
$table-even-color: #cceaeb;
$table-dark-even-color: #333c3c;
$base-dark-color: #e0e0e0;
$base-dark-background-color: #15141a;

/* size */
$max-width: 1012px;
$base-font-size: 1rem;
$base-font-weight: 600;
$base-padding-size: 1rem;
$base-margin-size: 1rem;

$highlight-font-family: "Roboto Mono";

body {
  margin: 0;
}

.hidden {
  display: none !important;
}

.md-container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: calc(#{$base-font-size} * 1.6);
  line-height: 1.5;
  color: $base-font-color;
  background-color: $base-background-color;
  word-wrap: break-word;
  padding: 0 calc(#{$base-padding-size} * 1.6);
}

@media screen and (min-width: 1000px) {
  header,
  .md-container {
    width: 90%;
  }
}

h1 {
  margin: 0.67em 0;
  padding-bottom: 0.3em;
  font-size: calc(#{$base-font-size} * 4);
  border-bottom: 3px solid $base-color;
}

h2 {
  padding-bottom: 0.3em;
  font-size: calc(#{$base-font-size} * 3);
  border-bottom: 2px solid $base-color;
}

h3 {
  font-size: calc(#{$base-font-size} * 2.2);
  border-bottom: 1px solid $base-color;
  padding-bottom: 0.3em;
}

h4 {
  font-size: calc(#{$base-font-size} * 1.9);
  color: $base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: calc(#{$base-margin-size} * 2.4);
  margin-bottom: calc(#{$base-margin-size} * 1.6);
  font-weight: $base-font-weight;
  line-height: 1.25;
}

p {
  margin-top: 0;
  margin-bottom: calc(#{$base-margin-size} * 1.6);
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

pre {
  overflow: auto;
  tab-size: 2;
  -moz-tab-size: 2;
  margin: calc(#{$base-margin-size} * 0.4) 0px;
}

b,
strong {
  font-weight: $base-font-weight;
}

img {
  max-width: 100%;
}

/* Arrow up */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  text-align: center;
  background-color: $base-color;
  color: white;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 300ms ease-in;
  border: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

.highlight {
  padding-left: calc(#{$base-padding-size} * 0.5);
  font-family: $highlight-font-family;
}

blockquote {
  padding: 0 1em;
  color: $block-quote-color;
  border-left: 0.25em solid $base-color;
  margin-inline-start: $base-margin-size;
  margin-inline-end: $base-margin-size;
}

table th,
table td {
  padding: calc(#{$base-padding-size} * 0.6) calc(#{$base-padding-size} * 1.3);
  border: 2px solid $table-base-color;
}

table th {
  font-weight: $base-font-weight;
  background-color: $table-th-color;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: $table-even-color;
}

code {
  font-family: $highlight-font-family;
}

.dark {
  background-color: $base-dark-background-color !important;
  color: $base-dark-color;

  .md-container {
    color: $base-dark-color;
    background-color: $base-dark-background-color !important;
  }

  table th {
    font-weight: $base-font-weight;
    background-color: $table-dark-th-color;
  }

  tr:nth-child(even) {
    background-color: $table-dark-even-color;
  }

  .flicking-panel {
    background-color: $base-dark-background-color !important;

    .title {
      color: $base-dark-color;
    }
  }
}
