/* color */
$text-color-primary: cadetblue;
$text-color-secondary: black;
$text-color-third: #5b5b66;
$background-color-primary: #15141a;

/* size */
$base-font-size: 1rem;
$base-outline-size: 3px;
$base-padding: 1rem;
$base-margin: 1rem;
$max-width: 1012px;

body {
  font-size: $base-font-size;
  font-family: "Hanna", sans-serif;
  margin: 0;

  .hidden {
    display: none !important;
  }
}

.list {
  min-height: 400px;

  .posts {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(#{$base-padding} * 1.6);
    display: flex;
    flex-direction: column;
  }

  .post {
    border-bottom: $text-color-secondary 1px dotted;
    padding: calc(#{$base-padding} * 4) 0;

    &:nth-last-child(1){
      border-bottom: none;
    }

    &:hover {
      cursor: pointer;
      .title {
        color: $text-color-primary;
        transition: all 0.3s ease;
      }
    }

    .title {
      text-decoration: none;
      color: $text-color-secondary;
      font-size: calc(#{$base-font-size} * 3);
      letter-spacing: -1px;
    }

    .subtitle {
      color: $text-color-third;
      font-size: calc(#{$base-font-size} * 1.5);
      margin-top: $base-margin;
      margin-bottom: calc(#{$base-margin} * 2);
    }

    .date,
    .readtime {
      color: $text-color-third;
      font-size: calc(#{$base-font-size} * 1.5);
      margin-top: calc(#{$base-margin} * 1.5);
    }    
  }
}

.dark {
  $text-color-primary: #56d1d5;
  $text-color-secondary: white;
  $text-color-third: #CFCFD8;
  background-color: $background-color-primary !important;
    
  .list {
    .post {
      border-bottom: $text-color-secondary 1px dotted;

      &:nth-last-child(1){
        border-bottom: none;
      }
  
      &:hover {
        .title {
          color: $text-color-primary;
        }
      }

      .title {
        color: $text-color-secondary;
      }
    }

    .subtitle, .date, .readtime {
      color: $text-color-third;
    }
  }
}
