<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi"
    />
    <title>욱신 블로그 | {{ page.title }}</title>
    <meta name="description" content="Wookshin's IT Blog" />
    <meta name="author" content="Wookshin" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <script defer src="/assets/js/firstLoad.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto Mono"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/earlyaccess/notosanskr.css"
    />
    <link rel="stylesheet" href="/assets/css/default.css" />
    <link rel="stylesheet" href="/assets/css/defaultPost.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
    <link rel="stylesheet" href="/assets/css/disqus.css" />
    <script defer src="/assets/js/header.js"></script>
    <script defer src="/assets/js/post.js"></script>
    <script
      src="https://unpkg.com/@egjs/flicking/dist/flicking.pkgd.min.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@egjs/flicking/dist/flicking.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/footer-nav.css" />
    <script
      src="https://kit.fontawesome.com/01ef6b277a.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="/assets/js/footer-nav.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2541745903272848"
     crossorigin="anonymous"></script>
  </head>
  <body>
    {% include header.html %}
    <!-- Arrow Up -->
    <button class="arrow-up">
      <i class="fas fa-arrow-up"></i>
    </button>
    <div class="article-wrapper">
      <div class="md-container">{{ content }}</div>
      <div class="toc">
        <aside class="document-toc-container">
          <section class="document-toc">
            <header class="document-toc-header"></header>
            <ul class="document-toc-list">
            </ul>
          </section>
        </aside>
      </div>
    </div>
    {% include footer-nav.html %} 
    <div class="disqus-container">
      {% include disqus.html %} 
    </div>
    {% include analytics.html %}
  </body>
</html>
